# R files #
###########
.RBuildignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
# System files #
################
.DS_Store
*.m~
# Output files #
################
*.html
*.csv
# Temporary directory #
#######################
